body,
html{
    width: 100%;
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    background-color: #FFFAFA;
}
#header{
    width: 100%;
    transition:'background ease-out 0.2s';
    border-bottom: solid;
    color:#E3C9DF;
}
#header .navbar-collapse{
    width: auto;
}
#header .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    padding-left: 0px;
    padding-right: 0px;
    color:#72418C;
    border-bottom: solid 3px transparent;
}
#header .nav-link:hover{
    border-bottom: solid 3px #72418C;
    color: #D289D6;
}
#header .navbar-brand{
    margin-left: 0px;
    margin-right: 0%;
    margin-top: -25px;
    padding-left: 20px;
    padding-top: 20px;
}
#header .dropdown-menu{
    background-color:#E3C9DF;
}
#header .btn-custom{
    font-size: 14px;
    font-weight: 300;
    color: #72418C;
}
#header .btn-custom:hover{
    color:#D289D6;
}
/*conf. h6 e links*/
h6{
    color:#72418C;
}
a{
    font-size: 14px;
}
/*configuração da introdução*/
div.main{
    width: 100%;
    min-height: 10vh;
    margin-left: 14px;
    margin-right: 16px;
    margin-top: 129px;
    margin-bottom:450px;
    border-color: #E3C9DF;
    border-style: groove;
}
h1.main{           
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 22px;
    /* or 150% */
    text-align: center;
    letter-spacing: -0.015em;
    color: #9d62a7;            
}
p.main{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}
/*conf. biografias local dos textos e imagens*/
#bio .conteiner{
    width: 100%;
    height: 100%;
    margin-top: 150px;
    margin-left: 0px;
    margin-right: 0%;
    background-color: #E6E1EF;
    background-size: contain;
}
#bio .row{
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
}

/*config. dos paragrafos com biografias interior dos blocos*/
p.bio{    
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: solid 0.25mm;
}
/*ultimo parafrafo*/
p.direitos{
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.6);;
}
/*conf.do botão cursos*/
#video .btn-custom{
    border:solid 1px;
    font-size: 14px;
    color:#72418C;
    background-color: transparent;
}    
#video .btn-custom:hover{
    border:solid 1px;
    color: #72418C;
    background-color: #E3C9DF;
    font-weight:bold;
}
div.divisoria{
    background-color:#3d1f39;
    padding: 1px            
}
.btn-custom:hover{
    border:solid 1px;
    color: #72418C;
    background-color: #E3C9DF;
    font-weight:bold;
}




